<div class="container"> <!-- style using bootstrap clasese -->
    <div class="row"> <!-- style using bootstrap clasese -->
        <div class="col-xs-12"> <!-- style using bootstrap clasese -->
            <h3>I am the app Component</h3>
            <hr>
            <app-servers></app-servers>  <!--selecting element by elements name the best way-->
            <!--<div app-servers></div> selecting element by tag-->
            <!--<div class="app-servers"></div> selecting element by class-->
        </div>
    </div>
</div>
